<app-header [menuShow]="true" title="Datos del cliente"></app-header>
<ion-content class="ion-padding ion-text-center">
  <div id="map" style="height: 50%;"></div>

  <ion-grid>
    <ion-row>
      <h4>Datos del cliente</h4>
    </ion-row>
  </ion-grid>

  <ion-item *ngIf="clientData">
    <ion-grid class="customer__container">
      <ion-row>
        <ion-col>Nombre:</ion-col>
        <ion-col>{{ clientData.name }}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col>Ciudad:</ion-col>
        <ion-col>{{ clientData.neighborhood.city.name }}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col>Vecindario:</ion-col>
        <ion-col>{{ clientData.neighborhood.name }}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col>Descripción del vecindario:</ion-col>
        <ion-col>{{ clientData.neighborhood.description }}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col>Teléfono:</ion-col>
        <ion-col>{{ clientData.phone }}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <div class="container__button">
    <ion-button (click)="onToggleInstructions()" class="submit button__date ion-margin-top" expand="block" fill="outline" shape="round">
      Mostrar Instrucciones
    </ion-button>
    <ion-button routerLink="/main/sales" class="submit ion-margin-top" expand="block" fill="outline" shape="round">
      Continuar
    </ion-button>
    <ion-button routerLink="/main/confirm" class="submit button-red ion-margin-top" expand="block" fill="outline" shape="round">
      Volver
    </ion-button>
  </div>
</ion-content>
