.customer__container {
    margin-top: 20px;
    text-align: left;
}

ion-button {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

:host ::ng-deep .leaflet-routing-container {
    background-color: rgba(0,0,0,.5);
    color: #fafafa;
}

:host ::ng-deep .leaflet-routing-container a {
    color: #007bff;
    /* Color de los enlaces */
    text-decoration: none;
    /* Sin subrayado */
}

:host ::ng-deep .leaflet-routing-container a:hover {
    text-decoration: underline;
    /* Subrayado al pasar el ratón */
}

.button__date {
    --background: var(--button-blue-0-color);
    --background-hover: var(--yellow-0);
    --background-activated: var(--yellow-0);
    --background-focused: var(--yellow-0);

    --color: var(--yellow-0);

    --border-color: var(--yellow-0);
    --border-style: solid;
    --border-width: 1px;

    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

    --ripple-color: rgb(255, 255, 255);

    --padding-top: 10px;
    --padding-bottom: 10px;
}