<app-header [menuShow]="true" title="Datos del cliente 1"></app-header>
<ion-content class="ion-padding ion-text-center">

    <div id="map" style="height: 50%;"></div>
  
  <ion-grid>
    <ion-row>
      <h4>Datos del cliente</h4>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-grid class="customer__container">
      <ion-row>
        <ion-col>
          Nombre:
        </ion-col>
        <ion-col>
          Pedro Escamoso
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          Direccion:
        </ion-col>
        <ion-col>
          Miguel gutierrez 1225 barrio vial
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Nro de casa:
        </ion-col>
        <ion-col>
          1225
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Manzana:
        </ion-col>
        <ion-col>
          -
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Observacion:
        </ion-col>
        <ion-col>
          "Tiene un perro grande"
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Telefono:
        </ion-col>
        <ion-col>
          3781482464
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-item>

  <div class="container__button">
    <ion-button (click)="onToggleInstructions()" class="submit button__date ion-margin-top" expand="block" fill="outline" shape="round">
      Mostrar Instrucciones
    </ion-button>
    <ion-button routerLink="/main/sales" class="submit ion-margin-top" expand="block" fill="outline" shape="round">
      Continuar
    </ion-button>
    <ion-button routerLink="/main/confirm" class="submit button-red ion-margin-top" expand="block" fill="outline" shape="round">
      Volver
    </ion-button>
  </div>
</ion-content>
