<app-header [menuShow]="true" title="Cuestionario"></app-header>
<ion-content>
  <ion-list>
    <ion-item-sliding class="product-item">
      <ion-item>

        <ion-avatar slot="start">
         <ion-img [src]="'../../../../assets/logo.jpg'"></ion-img>
        </ion-avatar>
        <ion-label>
          <div class="name">Alan </div>
          <div class="data">
            <strong>salario: </strong> {{ '3000' }}
          </div>
          <div class="data">
            <strong>salario: </strong> {{ '3000' }}
          </div>
          <div class="data">
            <strong>salario: </strong> {{ '3000' }}
          </div>
        </ion-label>

        <ion-item-options side="end">
          <ion-item-option color="primary" >Agregar</ion-item-option>
        </ion-item-options>

      </ion-item>
    </ion-item-sliding>
  </ion-list>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
