
.car__info__container{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
}

ion-row > ion-item{
    width: 100%;
}

.message__tip{
    font-size: 10px;
    font-weight: 400;
    font-style: italic;
    color: var(--gray-text);
    margin: 0;
}

.title__requisites__container{
    padding: 10px;
    margin: 0;
}

ion-col{
    font-size: 15px;
    padding: 0;
}

ion-grid{
    padding: 0;
    margin: 10px 0;
}

.observation__input{
    padding: 10px;
}


.slidding__button ion-item-options ion-button{
    z-index: 20000;
}

.submit__button__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit__button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit__button ion-button{
    width: 80%;
}