<app-header [menuShow]="true" title="Detalles de la venta"></app-header>

<ion-content class="ion-padding">


  <div class="cancel__message" *ngIf="totalNonExchangeSales === 0 && exchangeSales.length < 1">
    <p>Si confirma, cancelara la venta.</p>
  </div>

  <div *ngIf="!errorMessage">
    <ion-list>

      <div  *ngIf="nonExchangeSales.length">
        <h2>Ventas</h2>
      </div>
      <ion-item *ngFor="let sale of nonExchangeSales">
        <ion-label>
          <h2>{{ sale.label }}</h2>
          <p>Cantidad: {{ sale.quantity }}</p>
          <p>Precio: {{ sale.price }}</p>
        </ion-label>
      </ion-item>

      <div  *ngIf="exchangeSales.length">
        <h2>Canjes</h2>
      </div>
      <ion-item *ngFor="let sale of exchangeSales">
        <ion-label>
          <h2>{{ sale.label }}</h2>
          <p>Cantidad: {{ sale.quantity }}</p>
          <p>Precio: {{ sale.price }}</p>
        </ion-label>
      </ion-item>

      <ion-item-group class="group__container amount__total">
        <ion-item-divider class="amount__total__label">
          <label >Cantidad Total: </label>
          <label slot="end">${{ totalNonExchangeSales }}</label>
        </ion-item-divider>
      </ion-item-group>
    </ion-list>
  </div>

  <div class="container__button">
    <ion-button (click)="submit()" class="submit ion-margin-top" expand="block" fill="outline" shape="round">
      Confirmar venta y continuar
    </ion-button>
    <ion-button (click)="navigateBack()" class="submit button-red ion-margin-top" expand="block" fill="outline" shape="round">
      Volver
    </ion-button>
  </div>
</ion-content>
