<app-header [menuShow]="true" title="{{ nombreCliente }}"></app-header>

<ion-content *ngIf="isDataLoaded" class="ion-padding ion-text-center">
  <ion-item>
    <ion-grid class="header__container">
      <ion-row>
        <h4 class="name">Conductor {{ conductorNombre }}</h4>
      </ion-row>
      <ion-row>
        <h5><strong>Dominio: </strong> {{ dominio }}</h5>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-grid>
    <ion-row>
      <h4>Datos del cliente</h4>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-grid class="customer__container">
      <ion-row>
        <ion-col>
          Nombre:
        </ion-col>
        <ion-col>
          {{ nombreCliente }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Direccion:
        </ion-col>
        <ion-col>
          {{ observacionCliente }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Teléfono:
        </ion-col>
        <ion-col>
          {{ telefonoCliente }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Barrio:
        </ion-col>
        <ion-col>
          {{ barrioCliente }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Ciudad:
        </ion-col>
        <ion-col>
          {{ ciudadCliente }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <div class="container__button">
    <ion-button (click)="continuar()" class="submit ion-margin-top" expand="block" fill="outline" shape="round">
      Continuar
    </ion-button>
  </div>
</ion-content>

<ion-alert [isOpen]="isAlertOpen" header="No hay entregas disponibles"
message="Actualmente no hay entregas pendientes, intentelo de nuevo mas tarde" [buttons]="alertButtons"
(didDismiss)="setOpen(false)"></ion-alert>

<ion-content *ngIf="!isDataLoaded">
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ion-content>
