<app-header [menuShow]="true" title="Ajustes de caja"></app-header>
<ion-content *ngIf="isDataLoaded" class="ion-padding ion-text-center">
  <ion-grid class="title__requisites__container">
    <ion-row>
      <h3>Rendición de Caja</h3>
    </ion-row>
    <ion-row>
      <p class="message__tip">Registro de todas las transacciones realizadas durante el día</p>
    </ion-row>
  </ion-grid>

  <ion-list>

    <!-- Sección para productos con exchange en false -->
    <ng-container *ngFor="let method of methodPayments">
      <ion-item-group class="group__container">
        <ion-item-divider>
          <label>{{ method }}</label>
        </ion-item-divider>

        <ion-item-group *ngFor="let productGroup of getExchangeFalseProducts(method) | keyvalue">
          <ion-item>
            <label class="title__slot" slot="start">{{ productGroup.key }}</label>
            <label class="number__slot" slot="end">{{ getTotalQuantity(productGroup.value) }}</label>
          </ion-item>
          <ion-item>
            <label class="title__slot total" slot="start">Subtotal:</label>
            <label class="number__slot" slot="end">{{ getTotalAmount(productGroup.value) | currency }}</label>
          </ion-item>
        </ion-item-group>
      </ion-item-group>
    </ng-container>

    <!-- Sección única para Canjes -->
    <ion-item-group class="group__container">
      <ion-item-divider>
        <label>Canjes</label>
      </ion-item-divider>

      <ion-item-group *ngFor="let productGroup of getExchangeTrueProducts() | keyvalue">
        <ion-item>
          <label class="title__slot" slot="start">{{ productGroup.key }}</label>
          <label class="number__slot" slot="end">{{ getTotalQuantity(productGroup.value) }}</label>
        </ion-item>
      </ion-item-group>
    </ion-item-group>

    <!-- Total General -->
    <ion-item-group class="group__container amount__total">
      <ion-item-divider class="amount__total__label">
        <label>Cantidad Total</label>
        <label slot="end">{{ getTotalOverallAmount() | currency }}</label>
      </ion-item-divider>
    </ion-item-group>

    <!-- Total de Gastos -->
    <ion-item-group class="group__container">
      <ion-item-divider>
        <label>Total Gastos</label>
        <label slot="end">{{ totalExpenses | currency }}</label>
      </ion-item-divider>
    </ion-item-group>

    <!-- Total Neto -->
    <ion-item-group class="group__container">
      <ion-item-divider>
        <label>Total Neto</label>
        <label slot="end">{{ getNetTotal() | currency }}</label>
      </ion-item-divider>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-content *ngIf="!isDataLoaded">
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ion-content>
