<app-header [menuShow]="true" title="Ajustes de caja"></app-header>
<ion-content class="ion-padding ion-text-center">
  <form [formGroup]="accountingForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-grid class="title__requisites__container">
        <ion-row>
          <h4>Ajustes de Caja</h4>
        </ion-row>
        <ion-row>
          <p class="message__tip">Registra todas las transacciones realizadas durante el día</p>
        </ion-row>
      </ion-grid>

      <div formArrayName="transactions">
        <ion-item-sliding *ngFor="let transaction of transactions.controls; let i = index" [formGroupName]="i" class="transaction-item">
          <ion-item>
            <ion-label>{{ transaction.value.label }}</ion-label>
            <ion-input type="number" formControlName="value"></ion-input>
          </ion-item>
        </ion-item-sliding>
      </div>

    </ion-list>

    <div class="container__button">
      <ion-button type="submit" class="submit ion-margin-top" expand="block" fill="outline" shape="round">
        Continuar
      </ion-button>
      <ion-button (click)="navigateBack()" class="submit button-red ion-margin-top" expand="block" fill="outline" shape="round">
        Volver
      </ion-button>
    </div>
  </form>
</ion-content>
