.message__tip{
    font-size: 10px;
    font-weight: 400;
    font-style: italic;
    color: var(--gray-text);
    margin: 0;
}

ion-list{
    min-height: calc(100vh - 20vh);
}

.group__container{
    margin: 10px 0;
}

.title__slot.total{
    font-weight: 600;
}

ion-item-divider{
    font-weight: 600;
}

.number__slot{
    font-size: 13px;
    font-weight: 600;
}

.title__slot{
    min-width: 80px;
    font-size: 15px;
}

.amount__total{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    min-width: 100%;
}

.amount__total__label{
    background: var(--blue-text);
    color: var(--white-text);
}