/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "~leaflet/dist/leaflet.css";


:root {
  --bg-white-0: #fafafa;
  --header-text-color: #fafafa;
  --header-bg-color: #173476;
  --ion-background-color: #FCFCFC;
  --ion-text-color: #031D38;
  --white-text: #fcfcfc;
  --blue-text: #173476;
  --gray-text: rgb(77, 83, 90);
  --blue-bg-50: rgba(23, 52, 118, 0.8);

  --yellow-text-08: rgba(255, 147, 30, .8);

  --yellow-0: rgb(255, 147, 30);

  --ion-color-primary: #173476;
  --ion-color-danger: #bd4949;
  
  --button-blue-0-color: #fcfcfc;
  --button-blue-0-text: #173476;

  --button-green-0-color: #2c864e;
  --button-green-0-bg: #20643a;


  --button-red-0-color: #fcfcfc;
  --button-red-0-text: #f73737;
  --error-message-bg: #bd4949;
  --error-message-text: #fcfcfc;
}

.input__needed{
  font-size: 12px;
  color: var(--yellow-0);
  font-style: italic;
  width: 100%;
  margin: 3px 0;
  padding: 0;

}

.margin-10{
  margin: 10px 0;
}


.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
body{
  font-family: system-ui;
}


ion-alert .alert-button:first-child {
  color: #f73737 !important;
}

ion-item .item-inner {
  padding: 0;
}

ion-button {
  text-transform: none;
}

ion-icon.black {
  color: black;
}

.button__outline__blue {
  --background: var(--button-blue-0-color);
  --background-hover: var(--button-blue-0-text);
  --background-activated: var(--button-blue-0-text);
  --background-focused: var(--button-blue-0-text);

  --color: var(--button-blue-0-text);

  --border-radius: 10px;
  --border-color: var(--button-blue-0-text);
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 10px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: rgb(255, 255, 255);

  --padding-top: 10px;
  --padding-bottom: 10px;
}

.button__only__letters {
  --background: none;
  --background-hover: var(--button-blue-0-text);
  --background-activated: var(--button-blue-0-text);
  --background-focused: var(--button-blue-0-text);

  --color: var(--button-blue-0-text);

  --border-radius: 0px;
  --border-color: none;
  --border-style: solid;
  --border-width: 0px;
  --border-radius: 0px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: rgb(255, 255, 255);

  --padding-top: 10px;
  --padding-bottom: 10px;
  width: 100%;
}

.safe-p-bottom {
  padding-bottom: constant(safe-area-inset-bottom); // for ios 13+
  padding-bottom: env(safe-area-inset-bottom); // for previous ios versions
}

.submit {
  margin-top: 40px;
}

.empty {
  text-align: center;
  padding: 60px;
  opacity: 30%;

  ion-icon {
    font-size: 100px;
  }
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-input {
  --border-color: #e0e0e0;
  --border-radius: 15px;
  --border-style: solid;
  --border-width: 1px;
  margin: 20px 0;

  ion-label {
    position: relative;
    bottom: 2px;
  }

  .eye-icon {
    position: relative;
    top: 13px;
  }
}

.validators {
  color: var(--ion-color-danger);
  font-size: 13px;
  text-align: center;
}

.auth-form {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.product-item {
  --padding-top: 20px;

  ion-avatar {
    width: 70px;
    height: 80px;
    --border-radius: 15px;
  }

  .name {
    font-weight: 600;
    padding-bottom: 5px;
  }

  .data {
    font-size: 13px;

    strong {
      font-weight: 500;
    }
  }

  .option-btn {
    font-size: 27px;
  }

  ion-chip {
    font-size: 14px;
    border-radius: 10px;
    margin-left: 0;
  }
}

ion-input .item-inner {
  padding-right: 0;
}

.button-red {
  --background: var(--button-red-0-color);
  --background-hover: var(--button-red-0-text);
  --background-activated: var(--button-red-0-text);
  --background-focused: var(--button-red-0-text);

  --color: var(--button-red-0-text);

  --border-color: var(--button-red-0-text);
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: rgb(255, 255, 255);

  --padding-top: 10px;
  --padding-bottom: 10px;
}

.toast__success{
  color: var(--white-text);
  --background: var(--button-green-0-color);
}

.toast__success__outline{
  color: var(--button-green-0-bg);
  --background: var(--button-blue-0-color);
  --border-color: var(--button-green-0-bg);
  --border-width: 1px;
  --border-style: solid;
}

.toast__error{
  color: var(--white-text);
  --background: var(--error-message-bg);
}


.toast__info{
  color: var(--blue-text);
  --background: var(--button-red-0-color);
  --border-color: var(--blue-text);
  --border-width: 1px;
  --border-style: solid;
}


@media (min-width: 769px) {
  .auth-form {
    width: 500px;
  }

  .add-update-modal {
    --height: 680px;
  }
}