<app-header title="Recuperar Password"></app-header>

<ion-content>
  <div class="d-flex-center">
    <form action="" class="auth-form">
      <app-logo></app-logo>
      <p class="ion-text-center">Ingresa tu correo electronico para enviarte un email de recuperacion</p>


      <app-login-input></app-login-input>
      <div class="validators"></div>


      <ion-button class="submit ion-margin-top" expand="block" fill="outline" shape="round">
        Enviar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

      <ion-button routerLink="/auth" class="ion-margin-top" expand="block" fill="outline" shape="round">
        <ion-icon slot="end" name="arrow-back"></ion-icon>
        volver

      </ion-button>

    </form>
  </div>
</ion-content>
