<app-header [menuShow]="true" title="Venta"></app-header>
<ion-content class="ion-padding ion-text-center">
  <form [formGroup]="salesForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img [src]="'../../../../assets/client.png'"></ion-img>
        </ion-avatar>
        <ion-grid>
          <ion-row>
            <h4>{{ datosCliente.nombre }}</h4>
          </ion-row>
          <ion-row>
            <ion-col><strong>Telefono: </strong></ion-col>
            <ion-col>{{ datosCliente.telefono }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col><strong>Barrio: </strong></ion-col>
            <ion-col>{{ datosCliente.direccion }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col><strong>Direccion: </strong></ion-col>
            <ion-col>{{ datosCliente.observacion }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>



      <ion-grid class="title__requisites__container">
        <ion-row>
          <h4>Ventas</h4>
        </ion-row>
        <ion-row>
          <p class="input__needed">* Cargue los datos de venta realizados a este cliente</p>
          <p class="input__needed">* Todos los campos son obligatorios</p>
          <p class="input__needed">* En caso de querer cancelar la compra, cargar un producto con la cantidad en 0</p>    
        </ion-row>
      </ion-grid>


      <div class="sales__form__container">
        <div formArrayName="sales">
          <ion-grid *ngFor="let sale of sales.controls; let i = index" [formGroupName]="i" class="input__container">
            <ion-row>
              <ion-col class="product__select__container">
                <ion-label>Listado de productos:</ion-label>
                <ion-select class="product__select" placeholder="Seleccione un producto" formControlName="product" (ionChange)="onProductChange($event, i)">
                  <ion-select-option *ngFor="let product of products" [value]="product.id">{{ product.description }}</ion-select-option>
                </ion-select>
              </ion-col>
              <div *ngIf="sales.controls[i]?.get('product')?.invalid && sales.controls[i]?.get('product')?.touched">
                <ion-text color="danger">Debes seleccionar un producto para poder continuar.</ion-text>
              </div>
            </ion-row>
            <ion-row class="quantity__row__container">
              <ion-label>Cantidad:</ion-label>
              <ion-col class="quantity__container">
                <ion-input placeholder="Ingrese la cantidad" formControlName="quantity" type="number"></ion-input>
              </ion-col>
              <div *ngIf="sales.controls[i]?.get('quantity')?.invalid && sales.controls[i]?.get('quantity')?.touched">
                <ion-text color="danger">La cantidad es requerida y debe ser un número.</ion-text>
              </div>
            </ion-row>
            <ion-row>
              <!-- PRICE Y DESCRIPTION -->
              <ion-col>
                  <input formControlName="price" type="number" hidden/>
              </ion-col>
              <ion-col>
                  <input formControlName="label" type="text" hidden/>
              </ion-col>
              <!-- PRICE Y DESCRIPTION -->

            </ion-row>
            <ion-item>
              <ion-row class="buttons__container">
                <ion-col class="icon__container__remove">
                  <ion-button (click)="removeElemento(i)" shape="round" color="danger" fill="outline">Eliminar</ion-button>
                </ion-col>
                <ion-col class="change__container">
                  <ion-checkbox class="justify-center" formControlName="exchange">Es canje?</ion-checkbox>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-grid>
        </div>
      </div>

      <ion-button class="button__outline__blue" expand="block" fill="outline" shape="round" (click)="addElemento()">
        <ion-icon name="add-circle-outline"></ion-icon>
        Agregar Venta
      </ion-button>

      <div  class="payment__container">
        <ion-item>
          <ion-grid >
            <ion-row>
              <ion-label class="input__label">Seleccione metodo de pago</ion-label>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-select placeholder="Metodo de pago" formControlName="paymentMethod">
                  <ion-select-option value="EFECTIVO">Efectivo</ion-select-option>
                  <ion-select-option value="DEBITO">Tarjeta de débito</ion-select-option>
                  <ion-select-option value="MERCADOPAGO">Mercado Pago</ion-select-option>
                  <ion-select-option value="OTROS">Otros</ion-select-option>
                </ion-select>
              </ion-col>
              <div *ngIf="!salesForm.controls['paymentMethod'].valid && salesForm.controls['paymentMethod'].touched">
                <ion-text color="danger">Debe seleccionar un método de pago.</ion-text>
              </div>
            </ion-row>
          </ion-grid>
        </ion-item>

  
        <ion-item>
          <ion-label position="stacked">Observaciones</ion-label>
          <ion-textarea formControlName="observations" placeholder="Ingrese una observación"></ion-textarea>
        </ion-item>
      </div>
    </ion-list>

    <div class="container__button">
      <ion-button type="submit" class="submit ion-margin-top" expand="block" fill="outline" shape="round" [disabled]="!salesForm.valid || sales.length < 1">
        Continuar
      </ion-button>
      <ion-button (click)="navigateBack()" class="submit button-red ion-margin-top" expand="block" fill="outline"
        shape="round">
        Volver
      </ion-button>
    </div>
  </form>
</ion-content>