.message__tip{
    font-size: 10px;
    font-weight: 400;
    font-style: italic;
    color: var(--gray-text);
    margin: 0;
}

.title__requisites__container{
    padding: 10px;
    text-align: left;
}
