<app-header [menuShow]="true" title="Venta"></app-header>
<ion-content class="ion-padding ion-text-center">
  <form [formGroup]="salesForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img [src]="'../../../../assets/client.png'"></ion-img>
        </ion-avatar>
        <ion-grid>
          <ion-row>
            <h4>Pedro Escamoso</h4>
          </ion-row>
          <ion-row>
            <ion-col><strong>Telefono: </strong></ion-col>
            <ion-col>{{ '3781482464' }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col><strong>Domicilio: </strong></ion-col>
            <ion-col>{{ 'Miguel Gutierrez' }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col><strong>Casa: </strong></ion-col>
            <ion-col>{{ '1225' }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-grid class="title__requisites__container">
        <ion-row>
          <h4>Ventas</h4>
        </ion-row>
        <ion-row>
          <p class="message__tip">Cargue los datos de venta realizados a este cliente, o deslize si fue un cambio o devolución</p>
        </ion-row>
      </ion-grid>

      <div formArrayName="sales">
        <ion-item-sliding *ngFor="let sale of sales.controls; let i = index" [formGroupName]="i" class="product-item">
          <ion-item>
            <ion-input [label]="sale.value.label" type="number" placeholder="" formControlName="value"></ion-input>
            <ion-button color="primary" *ngIf="sale.value.label.includes('Envase')" (click)="toggleIsChange(i)">
              {{ sale.value.isChange ? 'Volver' : 'Canje' }}
            </ion-button>
          </ion-item>
        </ion-item-sliding>
      </div>

      <ion-item>
        <ion-select label="Seleccione metodo de pago" label-placement="floating" formControlName="paymentMethod">
          <ion-select-option value="mercado_pago">MercadoPago</ion-select-option>
          <ion-select-option value="Efectivo">Efectivo</ion-select-option>
          <ion-select-option value="cheque">Cheque</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-textarea label="Observaciones" labelPlacement="stacked" placeholder="Ingrese una observación" formControlName="observations"></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="container__button">
      <ion-button type="submit" class="submit ion-margin-top" expand="block" fill="outline" shape="round">
        Continuar
      </ion-button>
      <ion-button (click)="navigateBack()" class="submit button-red ion-margin-top" expand="block" fill="outline" shape="round">
        Volver
      </ion-button>
    </div>
  </form>
</ion-content>
