:root {
    --background: #031D38;
}

.hamburguer{
    color: #fcfcfc;
}


ion-header ion-toolbar {
    padding: 10px 15px;
    --background: rgb(3, 29, 56);
    --background: linear-gradient(115deg, rgba(3, 29, 56, 1) 0%, rgba(19, 29, 90, 1) 62%, rgba(164, 182, 206, 1) 100%);
    --ion-text-color: #fcfcfc;
}

ion-header img {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    transform: translate(-40px, -10px);
    filter: opacity(50%);
}

ion-title{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}