:root {
    --background: #031D38;
}

.hamburguer{
    color: #fcfcfc;
}


ion-header ion-toolbar {
    padding: 10px 15px;
    --background: #173476;
    --ion-text-color: #fcfcfc;
}

ion-header img {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 40px;
    height: 40px;
}

ion-title{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}