ion-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    text-align: left;
}

.button__date {
    --background: var(--button-blue-0-color);
    --background-hover: --button-blue-0-text;
    --background-activated: --button-blue-0-text;
    --background-focused: --button-blue-0-text;
  
    --color: var(--button-blue-0-text);
  
    --border-radius: 10px;
    --border-color: var(--button-blue-0-text);
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 10px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: rgb(255, 255, 255);
  
    --padding-top: 10px;
    --padding-bottom: 10px;
}

  .button__submit {
    --background: var(--button-blue-0-text);
    --background-hover: --button-blue-0-color;
    --background-activated: --button-blue-0-color;
    --background-focused: --button-blue-0-color;
  
    --color: var(--button-blue-0-color);
  
    --border-radius: 10px;
    --border-color: --button-blue-0-text;
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 10px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: rgb(255, 255, 255);
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  }

ion-input {
    margin: 10px 0;
}

.button__submit-bills {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding: 0 20px;
}

.button__submit-bills ion-button{
    width: 40%;
}

.list__container-nobills{
    width: 100%;
    text-align: center;
}


.list__container__item-buttons{
    display: flex;
    justify-content: flex-end;
}
