<ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">

  <app-header title="Menu"></app-header>

  <ion-content [fullscreen]="true" class="ion-text-center">
    <ion-avatar>
      <ion-icon class="empty-icon" name="person-circle-outline" [ngStyle]="{'color': 'black'}"></ion-icon>
    </ion-avatar>

    <h4 [ngStyle]="{'color': 'black'}">{{ 'user'  }}</h4>

  <ion-menu-toggle autoHide="false" *ngFor="let p of pages">
    <ion-item [ngClass]="{'active': currentPath === p.url}" [routerLink]="p.url" routerDirection="root" detail>
      <ion-icon slot="start"  [name]="p.icon" [ngStyle]="{'color': 'black'}"></ion-icon>
      <ion-label [ngStyle]="{'color': 'black'}">
        {{ p.title }}
      </ion-label>
    </ion-item>
  </ion-menu-toggle>

  </ion-content>

</ion-menu>

<ion-router-outlet id="menu-content" main></ion-router-outlet>
