<ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">

  <app-header title="Menu"></app-header>

  <ion-content [fullscreen]="true" class="ion-text-center">
    <ion-item>
      <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col>
            <ion-avatar>
              <img src="../../../assets//ProfileExample.jfif">
            </ion-avatar>
          </ion-col>

        </ion-row>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col>
            <h4>{{ 'user' }}</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


    <ion-item *ngFor="let p of pages" [ngClass]="{'active': currentPath === p.url}" [routerLink]="p.url"
      routerDirection="root" detail>
      <ion-menu-toggle autoHide="false">
        <ion-label class="header__menu__item__container">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          {{ p.title }}
        </ion-label>
      </ion-menu-toggle>
    </ion-item>
  </ion-content>

</ion-menu>

<ion-router-outlet id="menu-content" main></ion-router-outlet>