ion-content {
    --background: #fcfcfc;
    align-items: center;
    justify-content: center;
}

ion-row{
    display: grid;
}

ion-avatar{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 120px;
    width: 120px;
    outline: 2px solid #031D38;
    &h4{
        color: #031D38;    
    }
}

ion-item {
    font-size: 14px;
    --color: var(--blue-text);
    ion-icon {
        color: var(--blue-text);
    }
    &.active {
        color: var(--white-text);
        --background: rgba(3, 29, 56,.8);
        ion-icon {
            color: var(--white-text);
        }
    }
}

.header__menu__item__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    &ion-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
    }
}

ion-menu {
    --width: 254px;
    --min-width: 254px;
    outline: none;
}


a{
    background: none;
}

.empty-icon {
    font-size: 100px;

}
