<app-header title="Ingreso al sistema"></app-header>

<ion-content>
  <div class="d-flex-center">
    <form action="" class="auth-form">
      <app-logo></app-logo>
      <app-login-input type="email"
        label="correo" icon="mail" placeholder="ingrese su email">

      </app-login-input>
      <div class="validators"></div>
      <app-login-input
        type="password"
        label="password"
        placeholder="ingrese su password"
        icon="lock-closed"
      ></app-login-input>
      <div class="validators"></div>
      <p routerLink="forgot-password" class="ion-text-end">Olvidaste tu password?</p>
      <ion-button routerLink="/main/home" class="submit ion-margin-top" expand="block" fill="outline" shape="round">
        Ingresar
      </ion-button>

    </form>
  </div>
</ion-content>
