
ion-item.header__form{
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 10px;
    --padding-right: 10px;
    --border-style: none;
    --inner-border-width: 1px;
    --border-radius: 10px;
    --background: linear-gradient(45deg, rgba(3,29,56,1) 0%, rgba(19,29,90,1) 70%, rgba(164,182,206,1) 100%);
}

.logo__container{
    padding: 20px;
}

ion-item.input__container{
    --border-style: none;
    --inner-border-witdh: 0px;
    --border-radius: 10px;
    margin: 20px 0;
}


.form__container{
    padding: 20px;
}

h3{
    margin: 0 0 0 10px;
}

ion-list{
    border-radius: 10px;
   border: 2px solid var(--blue-text);
}

ion-icon{
    color: --text-blue;
}

ion-button{
    margin-top: 30px;
}

.button__submit {
    --background: var(--button-blue-0-text);
    --background-hover: --button-blue-0-color;
    --background-activated: --button-blue-0-color;
    --background-focused: --button-blue-0-color;
  
    --color: var(--button-blue-0-color);
  
    --border-radius: 10px;
    --border-color: --button-blue-0-text;
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 10px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: rgb(255, 255, 255);
  
    --padding-top: 10px;
    --padding-bottom: 10px;
    width: 100%;
  }