<app-header title="Ingreso al sistema"></app-header>

<ion-content>
  <div class="d-flex-center">
    <form action="" class="auth-form">
      <app-logo></app-logo>
      <app-login-input></app-login-input>
      <div class="validators"></div>
      <app-login-input></app-login-input>
      <div class="validators"></div>
      <p>Olvidaste tu password?</p>
      <ion-button class="submit ion-margin-top" expand="block" fill="outline" shape="round">
        Ingresar
      </ion-button>

    </form>
  </div>
</ion-content>
