<app-header [menuShow]="true" title="Perfil"></app-header>
<ion-content class="ion-padding ion-text-center">
  <ion-avatar>
    <ion-icon class="empty-icon" name="person-circle-outline" [ngStyle]="{'color': 'black'}"></ion-icon>
  </ion-avatar>
  <ion-button class="photo-btn" size="small" mode="ios"  shape="round">
    <ion-icon name="camera"></ion-icon>
  </ion-button>
  <h4>Alan Beck</h4>
  <div class="cargo">
    Director General
  </div>

<ion-button routerLink="/auth" class="submit ion-margin-top" expand="block" fill="outline" shape="round">
  Cerrar Sesion
  <ion-icon style="margin-left: 3%;" name="exit-outline"></ion-icon>
</ion-button>
</ion-content>

